@font-face {
    font-family: custom-regular;
    src: url("../fonts/Rajdhani-Regular.ttf");
}

@font-face {
    font-family: custom-bold;
    src: url("../fonts/Rajdhani-Bold.ttf");
}

@font-face {
    font-family: custom-italic;
    src: url("../fonts/Rajdhani-Light.ttf");
}

/* ------------------- VARIABLES ------------------- */

:root {
    --max-width: 4320px;

    --background-color: #0e0e17;
    --primary-color: #fffefe;
    --secondary-color: #ff3131;
    --tertiary-color: #fbf535;
    --quaternary-color: #2a195e;
    --accent-color: #00f0ff;

    --secondary-color-transparent-05: color-mix(
        in srgb,
        var(--secondary-color) 50%,
        transparent
    );
    --secondary-color-transparent-03: color-mix(
        in srgb,
        var(--secondary-color) 30%,
        transparent
    );
    --secondary-color-transparent-02: color-mix(
        in srgb,
        var(--secondary-color) 20%,
        transparent
    );
    --secondary-color-transparent-01: color-mix(
        in srgb,
        var(--secondary-color) 10%,
        transparent
    );
    --secondary-color-transparent-005: color-mix(
        in srgb,
        var(--secondary-color) 5%,
        transparent
    );
    --secondary-color-shadow-1: color-mix(
        in srgb,
        var(--secondary-color) 77%,
        rgb(0, 0, 0)
    );

    --accent-color-transparent-05: color-mix(
        in srgb,
        var(--accent-color) 50%,
        transparent
    );
    --accent-color-transparent-03: color-mix(
        in srgb,
        var(--accent-color) 30%,
        transparent
    );
    --accent-color-transparent-02: color-mix(
        in srgb,
        var(--accent-color) 20%,
        transparent
    );
    --accent-color-transparent-01: color-mix(
        in srgb,
        var(--accent-color) 10%,
        transparent
    );
    --accent-color-transparent-005: color-mix(
        in srgb,
        var(--accent-color) 5%,
        transparent
    );
}

/* ------------------- GLOBAL ------------------- */
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background-color);
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    background: radial-gradient(
        circle farthest-corner at bottom right,
        var(--secondary-color) -35%,
        var(--background-color) 24%
    );
    width: 100%;
    max-width: var(--max-width);
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: var(
        --secondary-color-transparent-03
    ); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color); /* color of the scroll thumb */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 2em;
}

section {
    width: 75%;
    max-width: 1000px;
    padding: 0px 20px;
}

@media screen and (min-width: 1025px) {
    section {
        width: 55%;
    }
}

@media screen and (min-width: 1366px) {
    section {
        width: 50%;
    }
}

article {
    min-height: 250px;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: custom-bold;
    font-size: 2.25rem;
    text-shadow: 0 2px 2px var(--secondary-color),
        -2px 5px 1px var(--secondary-color-shadow-1);
    color: var(--primary-color);
    text-align: left;
    margin: 20px 0px;
}

@media screen and (min-width: 3200px) {
    h2 {
        font-size: 2.8rem;
    }
}

h3 {
    font-family: custom-bold;
    font-size: 1.85rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-style: oblique;
}

p {
    max-width: 75ch;
    font-family: custom-regular;
    font-size: 0.9rem;
    line-height: 1.5;
    text-justify: inter-word;
    margin: 16px 0px 16px 0px;
}

@media screen and (min-width: 481px) {
    p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1366px) {
    p {
        font-size: 1.3rem;
        margin: 20px 0px;
    }
}

@media screen and (min-width: 3200px) {
    p {
        margin: 30px 0px;
    }
}

p::selection {
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
}

/* ------------------- NAV ------------------- */

nav {
    z-index: 4;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: custom-regular;
    width: 100%;
    max-width: var(--max-width);
    padding: 1em 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.89);
    border-bottom: solid 1px var(--secondary-color-transparent-03);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: fade-in 1.2s forwards linear;
    animation-delay: 2.4s;
}

@media screen and (min-width: 769px) {
    nav {
        justify-content: flex-end;
    }
}

nav,
nav a {
    color: var(--secondary-color);
}

nav a:hover {
    color: var(--accent-color);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 3px;
}

nav li {
    font-size: 0.9rem;
    margin: 0;
}

@media screen and (min-width: 320px) {
    nav li {
        margin: 0px 8px;
    }
}

@media screen and (min-width: 481px) {
    nav li {
        margin: 0px 15px;
    }
}

@media screen and (min-width: 1366px) {
    nav,
    nav li {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 2660px) {
    nav,
    nav li {
        font-size: 1.6rem;
    }

    nav li {
        margin: 0px 20px;
    }
}

nav > ul > * {
    opacity: 0;
    animation: fade-in 1s forwards linear;
}

nav :nth-child(1) {
    animation-delay: 2.4s;
}

nav :nth-child(2) {
    animation-delay: 2.6s;
}

nav :nth-child(3) {
    animation-delay: 2.8s;
}

nav :nth-child(4) {
    animation-delay: 3s;
}

nav :nth-child(5) {
    animation-delay: 3.2s;
}

nav :nth-child(6) {
    animation-delay: 3.4s;
}

nav :nth-child(7) {
    animation-delay: 3.6s;
}

nav :nth-child(8) {
    animation-delay: 3.8s;
}

nav :nth-child(9) {
    animation-delay: 4s;
}

#hero-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100dvh;
    max-height: 2160px;
    color: var(--primary-color);
}

#hero-video {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 80%;
    animation: fade-in 2.4s forwards linear;
    animation-delay: 5s;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

#hero-video ~ #overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 0) -46%,
        var(--background-color) 85%
    );
}

#title {
    z-index: 3;
    opacity: 0;
    width: 100%;
    margin-right: -10px;
    animation: fade-in 1.2s forwards linear;
    animation-delay: 1.2s;
}

#subtitle {
    z-index: 3;
    margin-top: -9%;
    width: 75%;
    opacity: 0;
    animation: fade-in 1.2s forwards linear;
    animation-delay: 2.4s;
}

@media screen and (min-width: 768px) {
    #title {
        width: 85%;
    }

    #subtitle {
        margin-top: -7%;
        width: 44%;
    }
}

@media screen and (min-width: 2660px) {
    #title {
        width: 70%;
    }

    #subtitle {
        margin-top: -5%;
        width: 30%;
    }
}

#back-to-top-wrapper,
#scroll-down-wrapper {
    opacity: 0;
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    font-family: custom-regular;
    color: var(--tertiary-color);
    animation: fade-in 1.2s forwards linear;
    animation-delay: 8s;

    a {
        color: inherit;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .down-arrow {
        margin-top: -2px;
    }

    .up-arrow {
        margin-top: 2px;
        transform: rotate(180deg);
    }
}

#back-to-top-wrapper {
    opacity: 1;
}

@media screen and (min-width: 768px) {
    #back-to-top-wrapper,
    #scroll-down-wrapper {
        font-size: 1.23rem;
    }
}

@media screen and (min-width: 2660px) {
    #back-to-top-wrapper,
    #scroll-down-wrapper {
        font-size: 1.5rem;
    }
}

/* ------------------- JUMPS ------------------- */

.jump {
    position: relative;
    height: 90px;
    width: 100%;
}

/* ------------------- REDACTED ------------------- */

.redacted > p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--secondary-color-transparent-02);
    clip-path: polygon(
        0% 41%,
        13% 41%,
        13% 6%,
        87% 6%,
        87% 93%,
        10% 93%,
        10% 13%,
        89% 13%,
        89% 6%,
        3% 6%,
        3% 8%,
        16% 8%,
        16% 79%,
        0% 79%,
        0% 99%,
        92% 99%,
        92% 90%,
        5% 90%,
        5% 60%,
        0% 60%,
        0% 48%,
        89% 48%,
        89% 13%,
        80% 13%,
        80% 43%,
        95% 43%,
        95% 19%,
        80% 19%,
        80% 85%,
        38% 85%,
        38% 62%
    );
    color: var(--secondary-color-transparent-02) !important;
}

.redacted > div {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 50ch;
    height: 100%;
    font-family: custom-bold;
    font-size: 0.9rem;
    color: var(--secondary-color-transparent-05) !important;
    padding: 0;
}

@media screen and (min-width: 482px) {
    .redacted > div {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1365px) {
    .redacted > div {
        font-size: 1.5rem;
        padding: 0 1rem;
    }
}

/* ------------------- ABOUT ME ------------------- */

#__about-me {
    position: relative;
}

#__about-me::before {
    z-index: 2;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: dotted 1px var(--secondary-color);
    pointer-events: none;
}

#__about-me h2 {
    margin-top: 16px;
}

@media screen and (min-width: 769px) {
    #__about-me h2 {
        margin-top: 0px;
    }
}

#__about-me p {
    color: var(--secondary-color);
    text-align: left;
}

/* ------------------- SKILLS ------------------- */

#__skills {
    position: relative;
    color: var(--primary-color);
}

#__skills::before {
    z-index: 2;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: dotted 1px var(--secondary-color);
    pointer-events: none;
}

#__skills ul {
    margin: 0;
    padding: 0;
}

#__skills li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
    margin: 10px 0;
}

#__skills li > div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.625rem;
    height: 2rem;
}

#__skills li img {
    height: 65%;
}

#__skills .skill {
    padding: 0;
    margin: 0;
}

#__skills .level {
    height: 1em;
    background-color: var(--secondary-color);
    background: radial-gradient(
        circle farthest-corner at top right,
        var(--secondary-color-transparent-05) 0%,
        var(--background-color) 127%
    );
}

#__skills #javascript .level {
    width: 80%;
    animation: slide-advanced 0.5s ease;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: 200px;
}

#__skills #react .level {
    width: 60%;
    animation: slide-intermediate 0.5s ease;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: 200px;
}

#__skills #python .level {
    width: 60%;
    animation: slide-intermediate 0.5s ease;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: 200px;
}

#__skills #typescript .level {
    width: 60%;
    animation: slide-intermediate 0.5s ease;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: 200px;
}

#__skills #aws .level {
    width: 60%;
    animation: slide-intermediate 0.5s ease;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: 200px;
}

#__skills #docker .level {
    width: 40%;
    animation: slide-pro-beginner 0.5s ease;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: 200px;
}

#__skills #sql .level {
    width: 40%;
    animation: slide-pro-beginner 0.5s ease;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: 200px;
}

#__skills #css .level {
    width: 60%;
    animation: slide-intermediate 0.5s ease;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: 200px;
}

#__skills #git .level {
    width: 40%;
    animation: slide-pro-beginner 0.5s ease;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: 200px;
}

@keyframes slide-advanced {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes slide-intermediate {
    from {
        width: 0%;
    }
    to {
        width: 60%;
    }
}

@keyframes slide-pro-beginner {
    from {
        width: 0%;
    }
    to {
        width: 40%;
    }
}

@keyframes slide-beginner {
    from {
        width: 0%;
    }
    to {
        width: 20%;
    }
}

/* ------------------- WORK EXPERIENCE ------------------- */

#__work-experience {
    position: relative;
}

#__work-experience::before {
    z-index: 2;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: dotted 1px var(--secondary-color);
    pointer-events: none;
}

#__work-experience ul {
    margin: 0;
    padding: 0;
}

#__work-experience li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
    margin: 10px 0;
}

#__work-experience li > p {
    padding: 0;
    margin: 0;
}

#__work-experience li .job-title {
    color: var(--secondary-color);
    font-weight: bold;
}

#__work-experience li .company {
    color: var(--primary-color);
    font-style: italic;
}

#__work-experience li .date {
    color: rgba(255, 255, 255, 0.685);
}

/* ------------------- PHOTOS ------------------- */

#__photos #photo-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 25px;
    margin: 20px 0;
}

@media screen and (min-width: 768px) {
    #__photos #photo-grid {
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 1920px) {
    #__photos #photo-grid {
        grid-template-columns: auto auto auto;
    }
}

#photo-grid > div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: inset 3px var(--secondary-color-transparent-05);
    transition: scale 0.2s ease-in-out;
}

#photo-grid > div:hover {
    z-index: 3;
    scale: 2.5;
}

#__photos .label {
    box-sizing: border-box;
    display: block;
    flex-grow: 1;
    width: 100%;
    padding: 0.5em 1em;
    font-family: custom-regular;
    font-size: 1.1rem;
    color: var(--primary-color);
    background-color: black;
    background: radial-gradient(
        circle farthest-corner at top left,
        var(--secondary-color-transparent-05) -30%,
        var(--background-color) 65%
    );
}

#__photos .label::selection {
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
}

#__photos img {
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 16/9;
}

/* ------------------- PROJECTS ------------------- */

#__projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#__projects > h2 {
    width: 100%;
}

#__projects > div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

@media screen and (min-width: 768px) {
    #__projects > div {
        grid-template-columns: 1fr 1fr;
    }
}

/* ------------------- PROJECTS ------------------- */

.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
}

@media screen and (min-width: 3200px) {
    .project {
        max-width: 2600px;
    }
}

.project .name {
    font-family: custom-regular;
    font-size: 1.5rem;
    color: var(--primary-color);
    text-align: left;
    width: 100%;
}

.project .description {
    color: var(--secondary-color);
    text-align: left;
    width: 100%;
    margin: 0;
}

.project img {
    /* Used in conjunction with ch unit to limit width. */
    font-family: custom-regular;
    font-size: 1.23rem;
    width: 100%;
    aspect-ratio: 4/3;
    margin-bottom: 20px;
    border: double 1px var(--secondary-color-transparent-05);
    box-shadow: var(--secondary-color-transparent-05) 0px 5px,
        var(--secondary-color-transparent-03) 0px 10px,
        var(--secondary-color-transparent-02) 0px 15px,
        var(--secondary-color-transparent-01) 0px 20px,
        var(--secondary-color-transparent-005) 0px 25px;
}

.project:hover .description {
    color: var(--accent-color);
}

.project:hover img {
    border: double 1px var(--accent-color-transparent-05);
    box-shadow: var(--accent-color-transparent-05) 0px 5px,
        var(--accent-color-transparent-03) 0px 10px,
        var(--accent-color-transparent-02) 0px 15px,
        var(--accent-color-transparent-01) 0px 20px,
        var(--accent-color-transparent-005) 0px 25px;
}

/* ------------------- FOOTER ------------------- */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: var(--tertiary-color);
}

@media screen and (min-width: 3200px) {
    footer {
        margin-top: 50px;
    }
}

footer h3 {
    font-family: custom-regular;
    color: var(--quaternary-color);
    text-shadow: 0 2px 2px var(--secondary-color),
        -2px 2px 1px rgb(194, 16, 111);
    width: 100%;
    margin: 10px 0px;
}

@media screen and (min-width: 769px) {
    footer h3 {
        margin: 10px 0px;
    }
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: transform 0.7s;
}

footer li:hover {
    filter: brightness(1.1);
    text-decoration: underline;
}

footer img {
    width: 40px;
}

footer img#linkedin-logo {
    margin-left: 13px;
}

footer a {
    color: var(--quaternary-color);
    font-family: custom-regular;
    font-size: 1.1rem;
    display: inline-block;
    margin: 12px 0px;
}

@media screen and (min-width: 769px) {
    footer a {
        display: inline-block;
        margin: 12px 12px;
    }
}

@media screen and (min-width: 1025px) {
    footer a {
        margin: 12px 12px;
    }
}

footer p {
    margin: 0;
}
