/* BASE DESIGN BASED ON APPEARANCE ON GALAXY FOLD (280px) */

@font-face {
  font-family: custom-regular;
  src: url("../fonts/AtkinsonHyperlegible-Regular.ttf");
}

@font-face {
  font-family: custom-bold;
  src: url("../fonts/AtkinsonHyperlegible-Bold.ttf");
}

@font-face {
  font-family: custom-italic;
  src: url("../fonts/AtkinsonHyperlegible-Italic.ttf");
}

/* ------------------- VARIABLES ------------------- */

:root {
  --header-xl: 2.8rem custom-bold;
  --header-large: 2.25rem custom-bold;
  --header-medium: 1.85rem custom-bold;
  --header-small: 1.5rem custom-italic;

  --body-xxl: 1.8rem custom-regular;
  --body-xl: 1.5rem custom-regular;
  --body-large: 1.23rem custom-regular;
  --body-medium: 1rem custom-regular;
  --body-small: 0.9rem custom-regular;

  --nav-medium: 1.6rem custom-regular;
  --nav-small: 1.1rem custom-regular;
  --nav-xs: 0.9rem custom-regular;

  --footer-medium: 1rem custom-regular;

  --primary-color: #f8f8ff;
}

/* ------------------- GLOBAL ------------------- */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  background: radial-gradient(
    circle farthest-corner at bottom right,
    deeppink -35%,
    #000001 24%
  );
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 2em;
}

section {
  width: 75%;
  padding: 0px 20px;
  margin: 25px 0;
}

@media screen and (min-width: 1025px) {
  section {
    width: 55%;
  }
}

@media screen and (min-width: 1366px) {
  section {
    width: 40%;
  }
}

article {
  min-height: 250px;
  padding: 0;
  margin: 0;
}

h2 {
  font: var(--header-large);
  text-shadow: 0 2px 2px deeppink, -2px 5px 1px rgb(194, 16, 111);
  color: white;
  text-align: left;
  margin: 20px 0px;
}

h3 {
  font: var(--header-medium);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-style: oblique;
}

p {
  max-width: 75ch;
  font: var(--body-small);
  line-height: 1.5;
  text-justify: inter-word;
  margin: 16px 0px 16px 0px;
}

/* ------------------- NAV ------------------- */

nav {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 1em 0;
  background-color: black;
  /* background-color: #2a195e; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

nav,
nav a {
  color: deeppink;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 3px;
}

nav li {
  font: var(--nav-xs);
  margin: 0;
}

#hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: white;
}

#hero-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  animation: video-fade-in 2s forwards linear;
}

@keyframes video-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#hero-video ~ #overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 75%, rgb(0, 0, 0) 101%);
}

#title {
  z-index: 3;
  font-family: custom-bold;
  font-size: 7vw;
  letter-spacing: 10px;
  margin-right: -10px;
  color: deeppink;
  text-shadow: 0 2px 2px rgb(238, 19, 136), -2px 5px 1px rgb(202, 16, 115),
    -4px 8px 0px rgb(168, 14, 96), -6px 11px 0px rgb(131, 11, 75),
    -8px 14px 0px rgb(104, 9, 59), -10px 17px 0px rgb(94, 8, 54),
    -12px 20px 0px #171717, -14px 23px 0px #000;
  animation: title 1.2s forwards linear;
}

#subtitle {
  z-index: 3;
  font-family: custom-italic;
  font-size: 4vw;
  opacity: 0;
  text-shadow: 0 2px 2px deeppink, -2px 5px 1px rgb(194, 16, 111);
  animation: subtitle 1.2s forwards linear;
  animation-delay: 1.2s;
}

@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 7vw;
    opacity: 1;
  }
}

@keyframes subtitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ------------------- ABOUT ME ------------------- */

#about-me {
  position: relative;
}

#about-me::before {
  z-index: 2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: dotted 1px deeppink;
}

#about-me h2 {
  margin-top: 16px;
}

#about-me p {
  color: deeppink;
  text-align: left;
}

#about-me img {
  height: 200px;
  border-radius: 200px;
}

/* ------------------- WORK EXPERIENCE ------------------- */

#work-experience {
  position: relative;
}

#work-experience::before {
  z-index: 2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: auto 0;
  border-right: dotted 1px deeppink;
}

#work-experience ul {
  margin: 0;
  padding: 0;
}

#work-experience li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
  margin: 10px 0;
}

#work-experience li > p {
  padding: 0;
  margin: 0;
}

#work-experience li .job-title {
  color: deeppink;
  font-weight: bold;
}

#work-experience li .company {
  color: white;
  font-style: italic;
}

#work-experience li .date {
  color: rgba(255, 255, 255, 0.685);
}

/* ------------------- PHOTOS ------------------- */

#photos img {
  width: 100%;
  aspect-ratio: 16/9;
  border: outset 8px rgba(255, 20, 145, 0.4);
}

#photos #photos-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  margin: 20px 0;
}

/* ------------------- PROJECTS ------------------- */

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#projects > h2 {
  width: 100%;
}

/* ------------------- PROJECTS ------------------- */

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--primary-color);
  text-align: center;
}

.project .name {
  font: var(--header-small);
  text-align: left;
  width: 100%;
}

.project .description {
  color: deeppink;
  text-align: left;
  width: 100%;
  margin: 5px 0;
}

.project img {
  /* Used in conjunction with ch unit to limit width. */
  font: var(--body-large);
  width: 100%;
  max-width: 75ch;
  margin-bottom: 20px;
  border: double 1px rgba(255, 20, 145, 0.4);
  box-shadow: rgba(255, 20, 145, 0.4) 0px 5px, rgba(255, 20, 145, 0.3) 0px 10px,
    rgba(255, 20, 145, 0.2) 0px 15px, rgba(255, 20, 145, 0.1) 0px 20px,
    rgba(255, 20, 145, 0.05) 0px 25px;
}

.project:hover {
  filter: brightness(1.2);
}

/* ------------------- FOOTER ------------------- */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: #2a195e;
}

footer h4 {
  color: white;
  text-shadow: 0 2px 2px deeppink, -2px 5px 1px rgb(194, 16, 111);
  font: var(--header-small);
  width: 100%;
  margin: 10px 0px;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  transition: transform 0.7s;
}

footer li:hover {
  filter: brightness(1.1);
  text-decoration: underline;
}

footer img {
  width: 40px;
}

footer img#linkedin-logo {
  margin-left: 13px;
}

footer a {
  color: var(--primary-color);
  font: var(--nav-small);
  display: inline-block;
  margin: 12px 0px;
}

footer p {
  margin: 0;
}

/* ------------------- MEDIA QUERIES ------------------- */

@media screen and (min-width: 320px) {
  nav li {
    margin: 0px 8px;
  }
}

@media screen and (min-width: 481px) {
  nav li {
    margin: 0px 15px;
  }

  p {
    font: var(--body-medium);
  }
}

@media screen and (min-width: 769px) {
  nav {
    justify-content: flex-end;
  }

  p {
    font: var(--body-medium);
  }

  #about-me h2 {
    margin-top: 0px;
  }

  .project h3 {
    font: var(--header-small);
  }

  footer h4 {
    font: var(--header-small);
    font-family: custom-italic;
    margin: 10px 0px;
  }

  footer a {
    font: var(--nav-small);
    display: inline-block;
    margin: 12px 12px;
  }
}

@media screen and (min-width: 1025px) {
  header {
    justify-content: flex-end;
  }

  nav {
    margin-right: 25px;
  }

  footer h4 {
    font-family: custom-italic;
    margin: 10px 0px;
  }

  footer a {
    margin: 12px 12px;
  }
}

@media screen and (min-width: 1366px) {
  #hero-image-container {
    height: 600px;
  }

  p {
    font: var(--body-large);
    margin: 20px 0px;
  }
}

@media screen and (min-width: 3200px) {
  nav li {
    font: var(--body-xl);
  }

  h2 {
    font: var(--header-xl);
  }

  p {
    font-family: custom-regular;
    margin: 30px 0px;
  }

  #about-me {
    padding: 0px 150px;
  }

  .project {
    max-width: 2600px;
  }

  footer {
    margin-top: 50px;
  }
}
