/* BASE DESIGN BASED ON APPEARENCE ON GALAXY FOLD (280px) */

@font-face {
    font-family: AtkinsonHyperlegible;
    src: url("../fonts/AtkinsonHyperlegible-Regular.ttf");
}

@font-face {
    font-family: AtkinsonHyperlegible-Bold;
    src: url("../fonts/AtkinsonHyperlegible-Bold.ttf");
}

@font-face {
    font-family: AtkinsonHyperlegible-Italic;
    src: url("../fonts/AtkinsonHyperlegible-Italic.ttf");
}
  
/* ------------------- VARIABLES ------------------- */

:root {
    --header-xl: 2.8rem AtkinsonHyperlegible-Bold;
    --header-large: 2.25rem AtkinsonHyperlegible-Bold;
    --header-medium: 1.85rem AtkinsonHyperlegible-Bold;
    --header-small: 1.5rem AtkinsonHyperlegible-Italic;

    --body-xxl: 1.8rem AtkinsonHyperlegible;
    --body-xl: 1.5rem AtkinsonHyperlegible;
    --body-large: 1.23rem AtkinsonHyperlegible;
    --body-medium: 1rem AtkinsonHyperlegible;
    --body-small: 0.9rem AtkinsonHyperlegible;

    --nav-medium: 1.6rem AtkinsonHyperlegible;
    --nav-small: 1.1rem AtkinsonHyperlegible;
    --nav-xs: 0.9rem AtkinsonHyperlegible;

    --footer-medium: 1rem AtkinsonHyperlegible;

    --primary-color: #F8F8FF;
    --secondary-color: #405303;
    --tertiary-color: #4A647A;
    --quaternary-color: #102D3D;
    --quinary-color: #D4C6BB;
  }

/* ------------------- GLOBAL ------------------- */
html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D4C6BB;
    background-image: linear-gradient(315deg, #102D3D 0%, #D4C6BB 74%);    
}


h2 {
    font: var(--header-large);
    color: var(--tertiary-color);
    margin-bottom: 20px;
}

h3 {
    font: var(--header-medium);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    font: var(--body-small);
    line-height: 1.5;
    text-justify: inter-word;
    margin: 16px 0px 16px 0px;
}

/* ------------------- HEADER ------------------- */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(100, 148, 237, 0);
    min-height: 90px;
    width: 100%;
}

/* ------------------- NAV ------------------- */

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

nav a {
    color: var(--secondary-color);
}

nav li {
    font: var(--nav-xs);
    display: inline-block;
    margin: 0px 3px 0px 3px;
}

/* ------------------- PARALLAX IMAGES ------------------- */

.parallax {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#hero-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 100%;
    background-image: url("../images/missouri-river.jpg");
    color: var(--primary-color);
}

#title {
    font: var(--header-medium);
    animation: title 1.2s forwards linear;
}

#subtitle {
    font: var(--header-small);
    opacity: 0;
    animation: subtitle 1.2s forwards linear;
    animation-delay: 1.2s;
}

/* keyframe animations which will be used to animate the title */
@keyframes title {
    from {
      opacity: 0;
    }
  
    to {
      font: var(--header-large);
      opacity: 1;
    }
}
  
  @keyframes subtitle {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}


/* ------------------- MAIN CONTAINER ------------------- */

main {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

article {
    display: flex;
    flex-direction: column;
    min-height: 250px;
    padding: 20px;
    margin: 10px 0px 10px 0px;
}

/* ------------------- ABOUT ME ARTICLE ------------------- */

#about-me h2 {
    text-align: center;
    margin-top: 16px;
}

/* Puts the image container at the top (small screens) */
#about-me div:nth-child(2) {
    order: -1;
    display: flex;
    justify-content: center;
}

#about-me img {
    height: 200px;
    border-radius: 200px;
}

/* ------------------- PROJECTS ARTICLE ------------------- */

#projects {
    flex: 1 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 10px 0px 10px;
    margin-top: -20px;
}

#projects > h2 {
    width: 100%;
}

/* ------------------- PROJECTS ------------------- */

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 5px 20px 5px;
    width: 90%;
    max-width: 800px;
    color: var(--primary-color);

        

}

.project h3 {
    font: var(--header-small);
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

.project img {
    width: 100%;
    border: 0.25px solid black;
    transition: transform .2s;
}

.project.large {
    width: 100%;
}

.project img:hover {
    transform: scale(1.025);
}

/* ------------------- FOOTER ------------------- */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 180px;
    width: 100%;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--quaternary-color);
}

footer h4 {
    font: var(--header-small);
    width: 100%;
    margin: 10px 0px;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a {
    color: var(--primary-color);
    font: var(--nav-small);
    display: inline-block;
    margin: 12px 0px;
}

/* ------------------- MEDIA QUERIES ------------------- */

@media screen and (min-width: 320px) {
    nav li {
        margin: 0px 8px;
    }
}

@media screen and (min-width: 481px) {
    #hero-image-container {
        height: 400px;
    }

    main {
        width: 80%;
    }

    nav li {
        margin: 0px 15px;
    }

    #about-me img {
        height: 250px;
        border-radius: 200px;
    }

    p {
        font: var(--body-medium);
    }

    @keyframes title {
        from {
          opacity: 0;
        }
      
        to {
          font: var(--header-large);
          opacity: 1;
        }
    } 
}

@media screen and (min-width: 769px) {
    nav {
        justify-content: flex-end;
    }

    p {
        font: var(--body-medium);
    }

    #about-me {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #about-me h2 {
        text-align: center;
        margin-top: 0px;
    }
    
    #about-me div:nth-child(2) {
        order: 1;
        justify-content: center;
        align-items: center;
    }

    .project {
        max-width: 550px;
    }

    .project h3 {
        font: var(--header-small);
    }

    footer h4 {
        font: var(--header-small);
        font-family: AtkinsonHyperlegible-Italic;
        margin: 10px 0px;
    }
    
    footer ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    footer a {
        font: var(--nav-small);
        display: inline-block;
        margin: 12px 12px;
    }
}

@media screen and (min-width: 1025px) {
    header {
        justify-content: flex-end;
    }
    
    nav {
        margin-right: 25px;
    }

    #about-me img {
        height: 225px;
        border-radius: 250px;
    }

    #projects {
        flex-direction: row;
        flex-wrap: wrap;
    }
    

    .project {
        width: 45%; 
        max-width: none;
    }

    .project.large {
        width: 65%;
    }

    footer h4 {
        font-family: AtkinsonHyperlegible-Italic;
        margin: 10px 0px;
    }
    
    footer a {
        margin: 12px 12px;
    }
}

@media screen and (min-width: 1366px) {
    #hero-image-container {
        height: 600px;
    }

    #about-me {
        min-height: 600px;
    }

    #about-me img {
        height: 300px;
        border-radius: 200px;
    }

    p {
       font: var(--body-large);
       margin: 20px 0px;
    }
}

@media screen and (min-width: 3200px) {
    nav li {
        font: var(--body-xl);
    }

    h2 {
        font: var(--header-xl);
    }

    p {
        font-family: AtkinsonHyperlegible;
        margin: 30px 0px;
    }

    #about-me {
        padding: 0px 150px;
        min-height: 800px;
    }

    .project {
        max-width: 2600px;
    }

    footer {
        margin-top: 50px;
    }
}